<%
hairstyle ||= @hairstyle
%>
<% title(hairstyle.title) %>
<div class="module">
  <div class="moduleTitle" style="text-align:center"><%= yield(:title) %></div>
  <div class="main_module">
    <div class="news_info"><span>发布时间：<%=date_format(hairstyle.created_at)%></span><span>来源：<%=hairstyle.from%></span><span>人气：<%=hairstyle.hits%></span></div>
    <div class="description">
      <%= hairstyle.content %>
    </div>
  </div>
</div>