<%
salon ||= @salon
%>
<% title("美发店") %>
<div class="module">
  <div class="moduleTitle"><%= yield(:title) %></div>
  <div class="main_module">
    <%= render(:partial => "shared/salon",:locals =>{ :manager => false,:salon => salon}) %>
    <%= render(:partial => "shared/spacer") %>
    <div class="user_manager_title">人才招聘信息</div>
    <%= render(:partial => "shared/job",:locals => { :user_admin => false},:collection => @jobs,:spacer_template => 'shared/spacer') %>
    <div class="pagination_bar"><%= xwill_paginate @jobs %></div>
</div>
</div>