<div class="tip_box">
  <% if user_admin %><table width="100%"><tr><td class="actions"><span><%= link_to('编辑',edit_user_salon_fwu_path(@salon,fwu),:class =>"edit action")%></span><span><%= link_to('删除',user_salon_fwu_path(@salon,fwu),:confirm => '确定删除吗？',:method => :delete,:class => "destroy action") %></span></td></tr></table><% end %>
  <table width="100%" border="0">
    <tr>
      <td class="tip_box_title dashed_line"><%= fwu.name %><span class="date_format"><%= date_format(fwu.created_at)%></span></td> 
    </tr>
    <tr>
    <td class="fwu_item">价格：<span class="price"><%= fwu.price %></span>优惠价格：<span class="price"><%= fwu.preferential_price %></span></td>
    </tr>
    <tr>
      <td class="tip_box_description"><%= fwu.description %></td>
    </tr>
  </table>
</div>