<p>
  <b>Title:</b>
  <%=h @info.title %>
</p>

<p>
  <b>Content:</b>
  <%=h @info.content %>
</p>

<p>
  <b>Name:</b>
  <%=h @info.name %>
</p>

<p>
  <b>Telephone:</b>
  <%=h @info.telephone %>
</p>

<p>
  <b>Mobile:</b>
  <%=h @info.mobile %>
</p>

<p>
  <b>Email:</b>
  <%=h @info.email %>
</p>

<p>
  <b>Address:</b>
  <%=h @info.address %>
</p>

<p>
  <b>Postcode:</b>
  <%=h @info.postcode %>
</p>

<p>
  <b>Period of validity:</b>
  <%=h @info.period_of_validity %>
</p>

