<div class="module">
  <div class="moduleTitle"><%= yield(:title) %></div>
  <div class="main_module">
    <%= error_messages_for :flack %>
    <% form_for(:flack,@flack,:url => user_salon_flacks_path(@salon)) do |f| %>
      <ul class="form">   
        <li class="field">
          <label for="flack_name">活动信息名称：</label><br />
          <%= f.text_field :name,:style => "width:300px;" %>
        </li>
        <li class="field">
          <label for="flack_description">活动信息描述：</label><br />
          <%= f.text_area :description,:cols => "80",:rows => "8" %>
        </li>
        <li class="field"><%= f.submit "保存" %> | <%=link_to '活动信息管理',user_salon_flacks_path(@salon)%></li>
      </ul>
    <% end %>
  </div>
</div>